
@font-face {
    font-family: "Marske";
    src: url("https://fontsforyou.com/fonts/m/Marske.otf");
}

* {
    font-family: "Marske";
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
    --main-color: #37FFDB;
    --primary-color: #D250FF;
    --secondary-color: #FBB500;
}


.container {
    width: 1427px;
    margin: 0 auto;
}

body {
    background-image: url(../img/background.jpg);
    background-position: top center;
    min-height: 7231px;
}

/*.................HEADER..................*/

.firstscreen__header {
    margin-top: 80px;
    width: 1427px;

    display: flex;
    justify-content: space-between;
}

header {
    margin-top: 9px;
}

header ul {
    width: 757px; 
    margin-left: 10px;

    display: flex;
    list-style: none;
    justify-content: space-between;  
    font-size: 1.125rem;
}

header ul li a {
    color: var(--main-color);
    
    text-decoration: underline;
    text-underline-offset: 12px;
}

header ul li a:hover {
    color: var(--primary-color);
}

/*.................FIRSTSCREEN.............*/

.firstscreen {
    margin-top: 107px;
    height: 358px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.firstscreen_bottom {
    margin-left: 90px;
    width: 752px;

    display: flex;
    justify-content: space-between;
}

.bottom__text {
    width: 268px;
    height: 49px;

    line-height: 106.5%;
    letter-spacing: 0.06em;
    color: var(--main-color);
}

.bottom__buttons {
    width: 414px;

    display: flex;
    justify-content: space-between;
}

.button__reg {
    width: 196px;
    height: 45px;   

    border: 1px solid #37FFDB;
    border-radius: 50px;
    background: transparent;
    
    color: var(--main-color);
    letter-spacing: 0.065em;

    z-index: 5;
}

.button__reg:hover {
    color: var(--primary-color);
    border: 1px solid #D250FF;
    cursor: pointer;
}

.button__merch {
    height: 45px;
}


/*.................SECONDSCREEN............*/

.fon {
    margin-left: -150px;
    z-index: -1;
}

.secondscreen__text {
    height: 226px;
    width: 995px;

    margin-top: -780px;
    margin-left: 216px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.secondscreen__title {
    font-size: 4em;
    line-height: 64px;
    letter-spacing: 0.075em;
    color: #D250FF;
}

.secondscreen__sub-title {
    font-size: 1.25em;
    line-height: 123.5%;
    letter-spacing: 0.31em;
    color: #FFFFFF;
}

.secondscreen__discrip {
    font-size: 1.25em;
    line-height: 129%;
    text-align: justify;
    letter-spacing: 0.18em;
    color: #FFFFFF;
}

.secondscreen__items {
    width: 1004px;
    height: 317px;

    margin-left: 218px;
    margin-top: 72px;

    display: flex;
    justify-content: space-between;
}

.secondscreen__item {
    height: 309px;
    width: 241px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__button {
    width: 53.69px;
    height: 54.44px;
    margin-left: 100px;
    margin-top: 182px;
    position: absolute;
}

.item__text {
    height: 59px;
    width: 241.27px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nickname {
    line-height: 118.5%;
    letter-spacing: 0.07em;
    color: white;
}

.subject {
    line-height: 118.5%;
    letter-spacing: 0.07em;
    color: white;
}


/*.................THIRDSCREEN.............*/

.thirdscreen {
    margin-top: 640px;
    margin-left: 370px;
}

/*.................FOURTHSCREEN............*/

.fourthscreen {
    margin-top: 100px;
}




/*.................FIFTHSCREEN.............*/

.fifthscreen__content {
    width: 947px;
    height: 653px;
    
    margin-left: 240px;
    margin-top: -760px;

    display: flex;
    justify-content: space-between;
}

.content__left {
    height: 653px;
    width: 634px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left__title {
    font-size: 4em;
    line-height: 89.5%;
    letter-spacing: 0.06em;
    color: #37FFDB;
}

.left__quest {
    display: flex;
}

.quest {
    margin-left: 43px;
}

.left__agreement {
    width: 630px;
    height: 144px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.agreement__1 {
    width: 577px;
    height: 60px;

    display: flex;
    justify-content: space-between;
}

.agreement {
    margin-left: 35.77px;

    color: white;
    line-height: 121.5%;
    letter-spacing: 0.18em;
}

.checkbox {
    width: 25px;
    height: 24.56px;
}

.agreement__2 {
    width: 561px;
    height: 74px;

    display: flex;
    justify-content: space-between;
}

.left__buttons {
    width: 324px;
    height: 40px;

    margin-left: 62px;

    display: flex;
    justify-content: space-between;
}

.button__account {
    font-size: 1.125em;
    line-height: 18px;
    letter-spacing: 0.065em;
    color: var(--main-color);
    border: none;
    background: none;
}

.button__create {
    width: 126px;
    height: 40px;

    border: 1px solid #D250FF;
    border-radius: 50px;
    background: none;

    color: #D250FF;
    font-size: 1.125em;
    line-height: 18px;
    letter-spacing: 0.065em;
}

.content__right {
    margin-left: 53px;
    margin-top: 99px;

    width: 273px;
    height: 278px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right__text {
    text-align: justify;
    letter-spacing: 0.18em;
    color: #FFFFFF;
}

.right__text-sub {
    font-size: 0.875em;
    line-height: 123.5%;
    text-align: justify;
    letter-spacing: 0.06em;
    color: #FFFFFF;

}

.button__arow {
    height: 55px;
    width: 55px;
}

/*.................SIXTHSCREEN.............*/

.between {
    margin-top: 64px;
}

/*.................SEVENTHSCREEN...........*/

.seventhscreen__content {
    width: 982px;
    height: 603px;

    margin-left: 232px;
    margin-top: -780px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__top {
    width: 626px;

    display: flex;
    justify-content: space-between;
}

.news {
    font-size: 2.5em;
    letter-spacing: 0.06em;
    color: #1F8D79;
}

.gallery {
    font-size: 2.5em;
    letter-spacing: 0.06em;
    color: #37FFDB;
}

.content__bottom {
    width: 982px;
    height: 491px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.bottom__item {
    height: 233px;
    margin-bottom: 45px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item__title {
    font-size: 2em;
    letter-spacing: 0.06em;
    color: #37FFDB;
}

/*.................EIGHTHSCREEN............*/

.eighthscreen__title {
    margin-top: 400px;
    margin-left: 565px;

    font-size: 4em;
    letter-spacing: 0.06em;
    color: #37FFDB;

}

.eighthscreen__items {
    width: 1078px;
    height: 210px;

    margin-left: 168px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.eighthscreen__items-bottom {
    width: 1078px;
    height: 106px;

    margin-left: 168px;
    margin-top: 70px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.intel {
    width: 193px;
    height: 128px;
}

.mi {
    width: 210px;
    height: 210px;
}

.nike {
    width: 187px;
    height: 139px;
}

.china {
    width: 222px;
    height: 69px;
}

.mizuho {
    width: 425px;
    height: 106px;
}

.oki {
    width: 195px;
    height: 59px;
}

/*.................NINETHSCREEN (FOOTER)............*/

.ninethscreen__top {
    width: 967px;

    margin-left: 235px;
    margin-top: 320px;

    display: flex;
    justify-content: space-between;
}

.top__head {
    font-size: 1.25em;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.cybercube {
    margin-left: 200px;
    margin-top: 366px;
}

.ninethscreen__bottom {
    margin-left: 235px;
    margin-top: 247px;
}

.bottom__top {
    width: 956px;

    display: flex;
    justify-content: space-between;
}

.top_left {
    height: 59px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inf {
    font-size: 12px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.top__right {
    bottom: 0;
    
    display: flex;
    justify-content: space-between;
}

.bottom__text-about {
    width: 957px;
    margin-top: 31px;

    font-size: 12px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
